<%- include('partials/header.ejs') %>
  <section id="body">
    <section id="head">       
         
            <div class="head-block">
                
                    
                  <div class="title-block slide-right">
                    <h1 class="choorma ">Churma Walaz</h1>
                    <h5>Authentic Taste  of    Rajasthan</h5>
                     <a href="/menu" class="btn btn-dark mr-1 btn-lg" role="button" aria-pressed="true" style="margin: 1rem 1rem 1rem 1rem;">Food Menu</a>
                  </div>
                  
               
                <div class="pic-block slide-left">
                    <img class="choorma-pic " src="images/Untitled-2.png" alt="">  
                </div>
            </div>
    </section>

    <section id="menu">
      <h1>Food Menu</h1>
      <hr class="custom-hr">
  <div class="products-row">
    
    <%items.forEach(item => {%>
      <div class="products-column">
        <div class="card" style="width: 100%;">
          <img src="images/products/<%= item.photo %>" class="card-img-top" alt="...">

          <div class="card-body">
            <h6><%= item.name+" "+item.quantity %></h6>
            <p class="card-title">Price: ₹<%= item.price %></p>
            
        <form action="/" method="post">
              <input type="hidden" name="product" value="<%= item.name %>">
              <input type="hidden" name="price" value="<%= item.price %>">
              <input type="hidden" name="photo" value="<%= item.photo %>">
            
            <div class="qtydiv">
              <div class="qty-label">
              <p>Qty:</p>
              </div>
              <div class="qtybox">
              <span class="btnqty qtyminus icon icon-minus">-</span>
              <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input" readonly="">
              <span class="btnqty qtyplus icon icon-plus">+</span>
              </div>
          </div>
          <button type="submit" onclick="getValues()" class="btn btn-dark add">Add</button>
        </form>     
          </div>
        </div>
      </div>
    <%});%>

    
  </div>
    </section>

  </section>
    <%- include('partials/footer.ejs') %>